# Environment variables
.env
.env.*
!.env.example

# React Native / Expo
node_modules/
.expo/
.expo-shared/
dist/
web-build/

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Django
db.sqlite3

# IDE
.vscode/
.idea/